adf-brazil-ecommerce/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-brazil-ecommerce"
		},
		"ls_st_brazilecommerce_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_st_brazilecommerce'"
		},
		"ls_sqlserver_kms_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sqlserver_kms'"
		},
		"ls_sqlserver_kms_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqlserver_kms'"
		},
		"ls_st_brazilecommerce_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://brazilecommerce.dfs.core.windows.net/"
		},
		"ls_sqlserver_kms_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "KUMULUS\\bhrenner.wilson"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_st_brazilecommerce')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_st_brazilecommerce_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_st_brazilecommerce_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ia-bhrenner')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_st_brazileco')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_brazilecommerce",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerName": {
						"type": "string"
					},
					"path": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containerName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_brazilecommerce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqlserver_kms')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sqlserver_kms_connectionString')]",
					"userName": "[parameters('ls_sqlserver_kms_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqlserver_kms_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ia-bhrenner",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ia-bhrenner')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_kms_brazilecommerce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqlserver_kms",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqlserver_kms')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_copy_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "customer_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "id",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_unique_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "unique_id",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_zip_code_prefix",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "zip_code_prefix",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_city",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "city",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_state",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "state",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_kms_brazilecommerce",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "customers"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_st_brazileco",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "brazilecomerce",
									"path": {
										"value": "@concat('bronze\\customer\\', formatDateTime(utcnow(), 'yyyy-dd-MM'))",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					},
					{
						"name": "copy_geolocation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "geolocation_zip_code_prefix",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "zip_code_prefix",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geolocation_lat",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "lat",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geolocation_lng",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "lng",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geolocation_city",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "city",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geolocation_state",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "state",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_kms_brazilecommerce",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "geolocatio"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_st_brazileco",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "brazilecomerce",
									"path": {
										"value": "@concat('bronze\\geolocation\\', formatDateTime(utcnow(), 'yyyy-dd-MM'))",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					},
					{
						"name": "copy_order_items",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_geolocation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_item_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_item_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "product_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "product_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "seller_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "seller_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "shipping_limit_date",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "shipping_limit_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "freight_value",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "freight_value",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_kms_brazilecommerce",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "order_items"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_st_brazileco",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "brazilecomerce",
									"path": {
										"value": "@concat('bronze\\order_items\\', formatDateTime(utcnow(), 'yyyy-dd-MM'))",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					},
					{
						"name": "copy_orders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_order_items",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_purchase_timestamp",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "order_purchase_timestamp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_approved_at",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "order_approved_at",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_delivered_carrier_date",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "order_delivered_carrier_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_delivered_customer_date",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "order_delivered_customer_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "order_estimated_delivery_date",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "order_estimated_delivery_date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_kms_brazilecommerce",
								"type": "DatasetReference",
								"parameters": {
									"schemaName": "dbo",
									"tableName": "orders"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_st_brazileco",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "brazilecomerce",
									"path": {
										"value": "@concat('bronze\\orders\\', formatDateTime(utcnow(), 'yyyy-dd-MM'))",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T20:17:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_kms_brazilecommerce')]",
				"[concat(variables('factoryId'), '/datasets/ds_st_brazileco')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl-MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Copy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_copy_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-07.centralus.logic.azure.com:443/workflows/1d76e63406f74a4bb9bb42cb72714687/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=sJKrdHMS4Hfl3D253U7eTBBCCrGcv-kJZYIu_sVraAI",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"title\": \"PIPELINE RUN FINISHED\",\n    \"message\": \"COPY-PIPELINE FINISHED RUNNING SUCCESSFULLY!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{formatDateTime(convertTimeZone(utcnow(), 'UTC', 'E. South America Standard Time' ),'dd/MM/yyyy HH:mm:ss' )}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Send Falied Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Copy",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-07.centralus.logic.azure.com:443/workflows/1d76e63406f74a4bb9bb42cb72714687/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=sJKrdHMS4Hfl3D253U7eTBBCCrGcv-kJZYIu_sVraAI",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"title\": \"PIPELINE RUN FAILED\",\n    \"message\": \"@{activity('Execute Copy').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{formatDateTime(convertTimeZone(utcnow(), 'UTC', 'E. South America Standard Time' ),'dd/MM/yyyy HH:mm:ss' )}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T20:38:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_copy_data')]"
			]
		}
	]
}